.row{
    margin-left: 20px;
    color: white;
}

.card{

    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
   
}

.cardLarge{
    max-height: 250px;
}

/* slightly bigger image size on hovering over the large card */
.cardLarge:hover{
    transform: scale(1.10);
}

.card:hover{
    transform: scale(1.09);
}

.cards{

    display: flex;
    
    /* To make the horizontal scroll bar */
    overflow-y: hidden;
    overflow-x: scroll;

    /* So that when the images get larger on hovering we need to see the entire image */
    padding: 20px;
}

/* This basically tells all the different browsers to hide the scrollbar but keep its functionality */
.cards::-webkit-scrollbar{
    display: none;
}